body {
    font-family: "Recoleta", "GT Walsheim Pro", sans-serif;
    background: #F7FBFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 1147px;
    margin-top: 20px;
}
.mobile-logo{
    display: none;
}
.menu{
    display: none;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    float: left;
    width: 617px;
    font-family: "GT Walsheim Pro";
    font-size: 20px;
    font-weight: lighter;
}
a.current-page {
    color:#112888;
    font-weight:400;
}
ul li a{
    color:#2D2C2C;
}
a:hover{
    color: #112888;
}


#home-content{
    display: flex;
    margin-top: 90px;
    width: 1147px;
}
.headtext{
    margin-top: 112px;
}
h1{
    font-family: Recoleta;
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #112888;
    margin: 0;
}
p{
    font-family: GT Walsheim Pro;
    font-size: 24px;
    font-weight: 350;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D2C2C;
    width: 615px;
}
button{
    height: 69px;
    width: 198px;
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    font-family: GT Walsheim Pro;
    font-size: 24px;
    font-weight: 350;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    background: #112888;
    color: white;
    border: 0;
}
button:hover{
    color: white;
    background: #ECA028;
}
.mobile-image{
    display: none;
}
.tablet-image{
    display: none;
}

@media screen and (max-width: 1024px) {
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        width: 856px;
        margin-top: 20px;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        float: left;
        width: 465px;
        font-family: "GT Walsheim Pro";
        font-size: 16px;
        font-weight: lighter;
    }
    .mobile-image{
        display: none;
    }
    .tablet-image{
        display: block;
    }
    .desktop-image{
        display: none;
    }
    #home-content{
        display: flex;
        margin-top: 100px;
        width: 856px;
    }
    .headtext{
        margin-top: 50px;
    }
    h1{
        font-family: Recoleta;
        font-size: 72px;
        font-weight: 500;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        color: #112888;
        margin: 0;
    }
    p{
        font-family: GT Walsheim Pro;
        font-size: 20px;
        font-weight: 350;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #2D2C2C;
        width: 492px;
    }
    button{
        height: 62px;
        width: 177px;
        border-radius: 50px;
        padding: 15px 35px 15px 35px;
        font-family: GT Walsheim Pro;
        font-size: 20px;
        font-weight: 350;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        background: #112888;
        color: white;
        border: 0;
    }
}


@media screen and (max-width: 400px) {
    /* Mobile View */
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 351px;
        margin-top: 40px;
    }
    .desktop-logo{
        display: none;
    }
    .mobile-logo{
        display:block;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .nav-options{
        display: none;
    }
    #home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        width: 351px;
    }
    .headtext{
        margin-top: 0;
    }
    h1{
        font-family: Recoleta;
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        color: #112888;
        margin: 0;
    }
    p{
        font-family: GT Walsheim Pro;
        font-size: 16px;
        font-weight: 350;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #2D2C2C;
        width: 351px;
    }
    button{
        height: 56px;
        width: 156px;
        border-radius: 50px;
        padding: 15px 35px 15px 35px;
        font-family: GT Walsheim Pro;
        font-size: 16px;
        font-weight: 350;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        background: #112888;
        color: white;
        border: 0;
    }
    .mobile-image{
        display: block;
    }
    .desktop-image{
        display: none;
    }
    .tablet-image{
        display: none;
    }
}